<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planning Poker - Home</title>
    <script>
        (function () {
            if (localStorage.getItem("darkMode") === "true") {
                document.documentElement.classList.add("dark-mode", "no-transition");
            }
        })();
    </script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Planning Poker</h1>
    <h2>Erstelle einen neuen Raum</h2>
    <form action="/createRoom" method="post">
        <label for="roomName">Raum Name:</label>
        <input type="text" id="roomName" name="roomName" placeholder="Raum- / Projektnamen eingeben" required>
        <button class="normalBtn" type="submit">Raum erstellen</button>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
